div.inline table {
  border-spacing: 0;
}

div.inline table caption {
  text-align: left;
}

table.output th {
  border-bottom: 2px dashed;
}

table.relation th,
table.relation td {
  border-bottom: 1px solid;
  border-right: 1px solid;
}

div.inline table th,
div.inline table td,
div.inline table th,
div.inline table td {
  text-align: center;
  min-width: 50px;
  padding: 5px;
}

table.relation {
  border-top: 1px solid;
  border-left: 1px solid;
}

div.inline > table {
  float: left;
}

table + table {
  margin-left: 30px;
}

div.inline::after {
  content: '';
  display: block;
  height: 30px;
  clear: both;
}

ul {
  list-style-type: none;
}

em {
  font-style: normal;
  width: 100px;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  border: 1px solid;
}
